@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;/*default 16px hota*/
}
body {
    font-family: 'Afacad', sans-serif;
}
.container{
    max-width: 1200px;
    width: 90%;/*for mobile*/
    margin: auto;
}
.navbar input[type="checkbox"],
.navbar .hamburger{
    display: none;
}
.navbar{
    box-shadow: 0px 3px 5px 0px #3a3838;
    background-color: rgba(245, 245, 245, 0.8);
    /* background-color: #417C76; */
    width:100%;
    position:fixed;
    opacity: 0.85;
    z-index:10;
}
.navbar-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:64px;
}
.menu-items{
    display: flex;
}
.menu-items li{
    list-style: none;
    justify-content: space-between;
    margin-left: 1.5rem;
    font-size: 2rem;;
}
.logo{
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
}
.navbar a{
    text-decoration: none;
    color:#2c2c2c;
}
.navbar a:hover{
    color: #000;
    text-decoration: underline;
}
/* ###################showcase###################### */
.showcase{
    height: 90vh;
    background: url("./img/showcase.jpg");;
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
}
.showcase-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 35%;
    float:right;
    margin:0 8rem ;
    
}
.showcase h1{
    font-size: 5rem;
}
.showcase p{
    font-size:2.5rem;
}
.btn{
    display:inline-block;
    text-decoration: none;
    color:black;
}
.showcase a{
    color:aliceblue;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.showcase .btn-check{
    border-radius: 50px;;
    background: #000;
    padding:5px;
    width:200px;
    margin-left:14.9rem ;
    margin-top:1.8rem;
}
.btn-check:hover{
    color: #73B5AB;
}
/* ################health info ################## */
.health-info{
    padding:50px;
    background: #c3cecc;
}
.health-cont{
    display:flex;
    flex-wrap: wrap;
}
.health-info h3{
    font-size:4rem;
    text-align: center;
}
.health-info p{
    font-size: 1.7rem;
}
.health-image{
    flex:0.5 1 400px;
    /* border:5px solid #c90606;*/
    padding:30px;
}
.health-content{
    flex:1 1 400px;
    /* border:3px solid #c90606; */
    padding:30px ;
    padding-top:5rem;
}
.health-image img{
    height:300px;
    width: 80%;
    margin-left: 5.5rem;
}   

/* ###################categories################## */
.category{
    padding: 50px;
    background: #f6faf9;
}
